@page
@model LoginAndRegistrationPage.messageModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <style>
        h1{
            font-family: sans-serif;
        }
</style>
</head>
<body>
    <h1>Your Login is Successful😊</h1>
    <br/>
    <h1>Welcome Srivani! Have a good day</h1>
    <br/>
    <br/><br/>
    <a style="display:block;text-align:center" href="/Index">Back to Login Page</a>
</body>
</html>

